/* Header contact */
.main-header.contact {
  background-image: url(../illustrations/backgrounds/bg-contact.svg);
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: 65vw 15vh;
  -webkit-animation: slide-in-contact 3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-contact 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-contact {
  0% {
    background-position: 200vw 15vh;
    opacity: 0.5;
  }
  100% {
    background-position: 65vw 15vh;
    opacity: 1;
  }
}

@keyframes slide-in-contact {
  0% {
    background-position: 200vw 15vh;
    opacity: 0.5;
  }
  100% {
    background-position: 65vw 15vh;
    opacity: 1;
  }
}

/* contact.landingpage */
.contact-landingpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 85vh;
}

.contact-landingpage h1 {
  position: absolute;
  top: 40%;
  left: 40%;
  -webkit-transform: translate(-40%, -50%);
  -ms-transform: translate(-40%, -50%);
  transform: translate(-40%, -50%);
}

.contact-landingpage h1 span {
  position: absolute;
  top: 140%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.contact-landingpage > .teaser {
  position: absolute;
  left: 20%;
  bottom: 5%;
  -webkit-transform: translateX(23%);
  -ms-transform: translateX(23%);
  transform: translateX(23%);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
}

.contact-landingpage > button {
  background: none;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Responsive Navigation */
@media (max-width: 1030px) {
  .main-header.contact {
    background-image: url(../illustrations/backgrounds/bg-contact.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 15vh;
    height: 100vh;
    -webkit-animation: slide-in-contact 3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-contact 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @-webkit-keyframes slide-in-contact {
    0% {
      background-position: 200vw 15vh;
      opacity: 0.5;
    }
    100% {
      background-position: 0 15vh;
      opacity: 1;
    }
  }

  @keyframes slide-in-contact {
    0% {
      background-position: 200vw 15vh;
      opacity: 0.5;
    }
    100% {
      background-position: 0 15vh;
      opacity: 1;
    }
  }
}

@media screen and (max-width: 440px) {
  .main-header.contact {
    background-size: 100%;
    background-position: 0 28vh;
    -webkit-animation: slide-in-contact 3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-contact 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @-webkit-keyframes slide-in-contact {
    0% {
      background-position: 200vw 28vh;
      opacity: 0.5;
    }
    100% {
      background-position: 0 28vh;
      opacity: 1;
    }
  }

  @keyframes slide-in-contact {
    0% {
      background-position: 200vw 28vh;
      opacity: 0.5;
    }
    100% {
      background-position: 0 28vh;
      opacity: 1;
    }
  }
}

/* Responsive Landingpage Contact */

@media screen and (max-width: 1030px) {
  .contact-landingpage {
    width: 100%;
    height: 85vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .contact-landingpage > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--primary-background-color);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .contact-landingpage .teaser {
    gap: 0.5rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 90%;
  }

  .contact-landingpage h1 span {
    position: absolute;
    top: 140%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 420px) {
  .contact-landingpage > h1 {
    line-height: 1.5;
  }
}

@media screen and (max-width: 322px) {
  .contact-landingpage > h1 {
    font-size: 2.5rem;
  }
}

/* Contact Form */
.contact-section {
  padding: 10rem 15rem;
}

.contact-section > h2 {
  padding-bottom: 2rem;
  text-align: center;
}

.contact-section > p {
  padding: 2rem 0;
}

.contact-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-container form input {
  height: 4rem;
  width: 80%;
  border: none;
  border-radius: 15px;
  background-color: var(--KC-brown);
  text-align: left;
  padding: 1rem 1rem;
  text-decoration: none;
}

.contact-container form input:hover {
  border: 3px solid var(--KC-orange);
}

.contact-container form input:focus {
  border: 3px solid var(--KC-orange);
}

.contact-container form input:last-child:hover {
  border: none;
}

.contact-container form input:last-child:focus {
  border: none;
}

.contact-container form textarea {
  width: 80%;
  height: 15rem;
  border-radius: 15px;
  background-color: var(--KC-brown);
  padding: 1rem 1rem;
  border: none;
}

.contact-container form textarea:hover {
  border: 3px solid var(--KC-orange);
}

.contact-container form textarea:focus {
  border: 3px solid var(--KC-orange);
}

.checkbox {
  font-family: var(--body-font);
  font-size: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1em 1rem auto;
  grid-template-columns: 1em auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

#box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: var(--text-color);
  width: 0.5rem;
  height: 0.5rem;
  border: 2px solid var(--text-color);
  border-radius: 4px;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

#box::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms -webkit-transform ease-in-out;
  -o-transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out;
  -webkit-box-shadow: inset 1em 1em var(--KC-orange);
  box-shadow: inset 1em 1em var(--KC-orange);
  background-color: CanvasText;
}

#box:checked::before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#box:hover {
  border: 2px solid var(--KC-orange);
}

.checkbox > div > a {
  color: var(--KC-orange);
}

.checkbox > div > a:visited {
  color: var(--KC-orange);
}

.contact-container .button {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 1rem 0;
  background-color: var(--KC-orange);
  border-radius: 35px;
  width: 10rem;
  margin: 2rem 0;
  text-align: center;
}

.contact-container .button:hover {
  background-color: var(--KC-orangehover);
}

form .error {
  width: 80%;
  margin-top: -1rem;
  margin-left: 2rem;
}

form .success {
  width: 80%;
  margin-top: -1rem;
  margin-left: 2rem;
  text-align: center;
}

/* Responsive Contact Form*/
@media screen and (max-width: 1200px) {
  .contact-section {
    padding: 10rem 2rem;
  }
}

@media screen and (max-width: 850px) {
  .contact-section {
    padding: 10rem 2rem;
  }

  .contact-section > h2 {
    padding-bottom: 0rem;
  }

  .contact-section > p {
    padding: 2rem 0rem;
  }

  .contact-container form textarea {
    width: 100%;
  }

  form .title-select {
    width: 100%;
  }

  .contact-container form input {
    width: 100%;
  }

  .checkbox {
    width: 100%;
  }

  form .error {
    width: 95%;
    margin-top: 0rem;
    margin-left: 0rem;
  }

  form .success {
    width: 95%;
    margin-top: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 450px) {
  .checkbox {
    gap: 0.5rem;
  }

  .new-checkbox {
    width: 0.9rem;
    height: 0.9rem;
  }
}
