/* data protection */
.data-protection-section {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    padding: 10rem 15rem;
    width: 100%;
}

.data-protection-section > p {
    padding-top: 2rem;
}

/* Responsive Data protection section */
@media screen and (max-width:1200px) {
    .data-protection-section {
        padding: 10rem 2rem;
    }
}
