/* Header Homepage */
.main-header.homepage {
    background-image: url(../illustrations/backgrounds/bg-homepage.svg);
    background-repeat: no-repeat;
    background-size: 125%;
    background-position: -20vw 12vh;
    height: 100vh;
    z-index: 100;
}

/* Navigation */
.main-nav {
    background-color: transparent;
    /* width: 100%; */
    height: 7.5rem;
    padding: 2rem 15rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
            align-items: center;
    gap: 8rem;
}

.main-nav > a > img {
    height: 3.5rem;
    width: auto;
}

.main-nav ul {
    display: -webkit-box;
    display: flex;
    list-style: none;
    gap: 8rem;
    float: right;
}

.main-nav a {
    position: relative;
}

.main-nav a.active::after {
    content: "";
    position: absolute;
    background-color: var(--KC-orange);
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
}

.main-nav a:link {
    color: var(--KC-orange);
}

.main-nav a:visited { 
    color: var(--KC-orange); 
}

.main-nav-items a::after {
    content: "";
    position: absolute;
    background-color: var(--KC-orange);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.main-nav a:hover::after {
    width: 100%;
}


/* Responsive Navigation */
.check-bar {
    color: var(--KC-orange);
    font-size: var(--navigation-size);
    cursor: pointer;
    display: none;
    float: right;
}

#check {
    display: none;
}

@media screen and (min-width: 1500px) {
    .main-nav {
        gap: 12rem;
    }
}

@media (max-width:1300px){
    .main-header.homepage {
        background-image: url(../illustrations/backgrounds/bg-homepage-mobil.svg);
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: -20vw 10vh;
        height: 100vh;
    }

    .main-nav{
        display: -webkit-box;
        display: flex;
        gap: 4rem;
    }
    .main-nav ul {
        display: -webkit-box;
        display: flex;
        gap: 4rem;
    }
}

@media screen and (max-width:950px){ 
    .main-header.homepage {
        background-image: url(../illustrations/backgrounds/bg-homepage-mobil.svg);
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: -20vw 15vh;
        height: 100vh;
    }
    
    .main-nav {
        padding: 0 5rem;
        position: relative;
        z-index: 1; 
    }


    .check-bar {
        display: -webkit-inline-box;
        display: inline-flex;
        color: var(--KC-orange);
        position: absolute;
        right: 2.8rem;
        top: 2rem;
    }

    .check-bar #close-icon {
        display: none;
    }

    .main-nav > a {
        height: 3.5rem;
        position: absolute;
        left: 2.8rem;
        top: 2rem;
    }

    .main-nav .main-nav-items {
        width: 100%;
        height: 100vh;
        background-image: url(../illustrations/backgrounds/bg-navigation-mobile.svg);
        background-repeat: no-repeat;
        background-size: 102%;
        background-position: -1vw -35vh;
        z-index: -1; 
        display: -webkit-box; 
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        text-align: right;
        gap: 4rem;
        position: absolute;
        padding-top: 8rem;
        top: 0;
        right: -2000px;
    }

    .main-nav ul li {
        display: block;
    }

    #check:checked ~ .main-nav-items {
        position: fixed;
        right: 0rem;
        padding-right: 3rem;
    }

    #check:checked ~ .check-bar #menu-icon {
        display: none;
    }

    #check:checked ~ .check-bar #close-icon {
        display: block;
    }

    #check:checked ~ .main-nav {
        z-index: 1;
    }
}

@media screen and (max-width:415px){ 
    .main-header.homepage {
        background-image: url(../illustrations/backgrounds/bg-homepage-mobil.svg);
        background-repeat: no-repeat;
        background-size: 140%;
        background-position: -20vw 25vh;
        height: 100vh;
    }
}

@media screen and (max-width:375px){ 
    .main-header.homepage {
        background-image: url(../illustrations/backgrounds/bg-homepage-mobil.svg);
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: -20vw 15vh;
        height: 100vh;
    }
}

@media screen and (max-width:280px){ 
    .main-header.homepage {
        background-image: url(../illustrations/backgrounds/bg-homepage-mobil.svg);
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: -20vw 25vh;
        height: 100vh;
    }
}

@media screen and (max-height: 1400px) {
    .main-nav .main-nav-items {
        background-size: 102%;
        background-position: -1vw -40vh;
    }
}

@media screen and (max-height: 1180px) {
    .main-nav .main-nav-items {
        background-size: 102%;
        background-position: -1vw -50vh;
    }
}

@media screen and (max-height: 1025px) {
    .main-nav .main-nav-items {
        background-size: 102%;
        background-position: -1vw -60vh;
    }
}

@media screen and (max-height: 915px) {
    .main-nav .main-nav-items {
        background-size: 102%;
        background-position: -1vw 1vh;
    }
}

@media screen and (max-height: 740px) {
    .main-nav .main-nav-items {
        background-size: 102%;
        background-position: -1vw -5vh;
    }
}

@media screen and (max-height: 720px) {
    .main-nav .main-nav-items {
        background-size: 102%;
        background-position: -1vw -60vh;
    }
}

@media screen and (max-height: 670px) {
    .main-nav .main-nav-items {
        background-size: 102%;
        background-position: -1vw -20vh;
    }
}

@media screen and (max-height: 655px) {
    .main-nav .main-nav-items {
        background-size: 102%;
        background-position: -1vw 10vh;
    }
}

/* Homepage.landingpage */
#main-landingpage{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    height: 85vh;
}

.main-header > h1 {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
}

.main-header > h1 {
    font-family: var(--heading-font);
    font-size: clamp(4rem, 10vw, 9.375rem);
    line-height: 1.5;
    color: var(--KC-orange);
}

#main-landingpage > .teaser {
    position: absolute;
    right: 50%;
    bottom: 10%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); 
    cursor: pointer;
}

#main-landingpage > i {
    position: absolute;
    color: var(--KC-orange);
    right: 50%;
    bottom: 4%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); 
    cursor: pointer;
}

/* Responsive Landingpage HP */
@media screen and (max-width:850px){
    #main-landingpage {
        width: 100%;
        height: 85vh;
    }

    #main-landingpage > h1{
        word-spacing: 9999px ;
        text-align: center;
    }
}

/* Section Caruselle */
.hp-caruselle-section {
    margin: 10rem 0;
    width: 100%;
    height: 100vh;
}

.hp-caruselle-container {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    gap: 2rem;
}

.hp-caruselle-objects {
    aspect-ratio: 1/1;
    height: 40rem;
  }

.hp-caruselle-objects > img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
  }

/* .saturation {
    -webkit-filter: opacity(60%);
            filter: opacity(60%);
} */

.hp-caruselle-arrows{
    padding: 1rem 0;
    margin: 2rem 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    cursor: pointer;
    -webkit-box-pack: center;
            justify-content: center;
}

.hp-caruselle-arrows .arrow {
    color: var(--KC-orange);
}

.hp-caruselle-arrows .arrow.left i{
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-right: 1rem;
}

.hp-caruselle-arrows .arrow.right i{
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin-left: 1rem;
}

.hp-caruselle-arrows .dot {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    height: 1rem;
    width: 1rem;
    background-color: var(--KC-orange);
    border-radius: 50%;
    margin: 0.5rem;
}

.hp-caruselle-arrows .dot:hover {
    background-color: var(--KC-yellow);
}

.hp-caruselle-button {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
}

.hp-caruselle-button > a {
    text-decoration: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    padding: 1rem 0;
    background-color: var(--KC-orange);
    border-radius: 35px;
    width: 15rem;
}

.hp-caruselle-button > a:link {
    color: var(--primary-background-color);
}

.hp-caruselle-button > a:visited { 
    color: var(--primary-background-color); 
}

.hp-caruselle-button > a:hover { 
    background-color: var(--KC-orangehover); 
}



/* Responsive Caruselle HP */
@media screen and (max-width:1200px){
    .hp-caruselle-container img {
        width: 60%;
    }

    .hp-caruselle-objects {
        aspect-ratio: 1/1;
        height: auto;
        width: 100%;
      }

      .hp-caruselle-container img {
        width: 100%;
    }
}


@media screen and (max-width:850px){
    .hp-caruselle-container {
        grid-template-columns: 1fr;
    }

    .hp-caruselle-objects {
        aspect-ratio: 1/1;
        height: auto;
        width: 100%;
      }

    .hp-caruselle-container img {
        width: 100%;
    }

    .saturation {
        display: none;
    }

    .hp-caruselle-section > a {
        width: 13rem;
    }
}


/* About Section */
.homepage-about-section {
    padding: 0 6rem;
    padding-bottom: 10rem;
}

.homepage-about-section h2 {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    margin-bottom: 2rem;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 0rem 0 0;
    -webkit-box-align: center;
            align-items: center;
    gap: 2rem;
}

.about-grid > p {
    text-align: left;
}

.about-grid > div {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
}

.about-image {
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
    max-height: auto;
}

/* Responsive About Section */
@media (max-width:1200px){
    .homepage-about-section {
        padding: 0 2rem;
        padding-bottom: 10rem;
    }

    .about-grid {
        display: grid;
        grid-template-columns: 1fr;
        -webkit-box-align: center;
                align-items: center;
        gap: 2rem;
    }

    .homepage-about-section h2 {
        margin-bottom: 0rem;
    }

    .about-grid > p {
        -webkit-box-ordinal-group: 3;
                order: 2;
    }

    .about-image {
        -webkit-box-ordinal-group: 2;
                order: 1;
        aspect-ratio: 16 / 9;
    }
}

/* Footer */
.main-footer {
    background: var(--footer-background-color);
    margin-top: 2rem;
}

.footer-nav {
    padding: 1rem 15rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
}

.footer-nav > ul {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    gap: 23vw;
}

.main-footer > .footer-nav > ul > li img {
    height: 5rem;
    width: auto;
    -o-object-fit: fill;
       object-fit: fill;
}

.legal{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    text-align: center;
    white-space: nowrap;
}

.legal a:link {
    color: var(--text-color);
}

.legal a:visited { 
    color: var(--text-color); 
}

.contact-icons {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    height: 100%;
    gap: 1.5rem;
}

.contact-icons i {
    color: var(--KC-orange);
}

/* Responsive Footer */
@media screen and (max-width:1100px){
    .footer-nav {
        padding: 2rem 1rem;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
        -webkit-box-align: center;
                align-items: center;
    }

    .footer-nav > ul {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        gap: 4.063rem;
    }
}

/* Dark Mode Media Query */
/* @media (prefers-color-scheme: dark) {
    .main-footer {
        background: #242319c0;
    }
} */
/* Add later... */

/* Scroll to Top Button */
#sttB {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

#sttB > img {
    width: 4rem;
    height: auto;
}